compatible = "zmk,combos";

#define COMBO(LAYERS, KEYS, NAME, BINDINGS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYS>; \
    layers = <LAYERS>; \
  }

//  0  1  2  3  4 |  5  6  7  8  9
// 10 11 12 13 14 | 15 16 17 18 19
// 20 21 22 23 24 | 25 26 27 28 29
//          30 31 | 32 33

COMBO(DEF_L NUM_L,  0 10,	grave,	&kp GRAVE);
COMBO(DEF_L NUM_L, 10 11,	tab,	&kp TAB);
COMBO(DEF_L NUM_L, 11 12,	lbkt,	&kp LBKT);
COMBO(DEF_L NUM_L, 12 13,	rbkt,	&kp RBKT);

COMBO(DEF_L NUM_L,  8  9,	bslh,	&kp BSLH);
COMBO(DEF_L NUM_L, 16 17,	minus,	&kp MINUS);
COMBO(DEF_L NUM_L, 17 18,	equal,	&kp EQUAL);
COMBO(DEF_L NUM_L, 18 19,	sqt,	&kp SQT);

COMBO(DEF_L, 30 33,     capwd,  &caps_word);

COMBO(NUM_L,  0 10,	reset,	&reset);
COMBO(NUM_L, 10 20,	boot,	&bootloader);
COMBO(NUM_L,  0  1,	bt0,	&bt BT_SEL 0);
COMBO(NUM_L,  0  2,	bt1,	&bt BT_SEL 1);
COMBO(NUM_L,  0  3,	bt2,	&bt BT_SEL 2);
COMBO(NUM_L,  0  4,	btclr,	&bt BT_CLR);

COMBO(NAV_L,  0 10,	sleep,	&kp C_SLEEP);
COMBO(NAV_L,  5 15,	mute,	&kp C_MUTE);
COMBO(NAV_L,  6 16,	vol_dn, &kp C_VOL_DN);
COMBO(NAV_L,  7 17,	vol_up,	&kp C_VOL_UP);
COMBO(NAV_L,  9 19,	lock,	&kp C_AL_LOCK);

#undef COMBO
