compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  }

#define COMBOALL(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  }

// 00 01 02 03 04 | 05 06 07 08 09
// 10 11 12 13 14 | 15 16 17 18 19
// 20 21 22 23 24 | 25 26 27 28 29
//          30 31 | 32 33

COMBO(esc, &kp ESC, 0 1, DEF_L);
COMBO(grave, &kp GRAVE, 1 2, DEF_L);
COMBO(tab, &kp TAB, 10 11, DEF_L);
COMBO(ret, &kp RET, 18 19, DEF_L);
COMBO(sqt, &kp SQT, 28 29, DEF_L);

#undef COMBO
#undef COMBOALL
