
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/reset.h>
#include "layers.dtsi"

/ {
  behaviors {
#include "behaviors.dtsi"
  };

  combos {
#include "combos.dtsi"
  };

  keymap {
#include "keymap.dtsi"
  };
};

