compatible = "zmk,keymap";
#define t___ &trans

default_layer {
  label = "Base";
  bindings = <
    &kp Q          &kp W          &kp E          &kp R          &kp T          &kp Y          &kp U          &kp I          &kp O          &kp P
    &kp A          &kp S          &kp D          &kp F          &kp G          &kp H          &kp J          &kp K          &kp L          &kp SEMI
    &lhm LGUI Z    &lhm LALT X    &lhm LSHFT C   &lhm LCTRL V   &kp B          &kp N          &rhm RCTRL M   &rhm RSHFT COMMA &rhm RALT DOT &rhm RGUI FSLH
                                                 &mt LSHFT ESC  &lt NUM_L BSPC &lt NAV_L SPACE &mt RSHFT RET
  >;
};

num_layer {
  label = "Num";
  bindings = <
    &kp N1         &kp N2         &kp N3         &kp N4         &kp N5         &kp N6         &kp N7         &kp N8         &kp N9         &kp N0
    t___           t___           t___           t___           t___           &kp DOT        &kp N4         &kp N5         &kp N6         t___
    t___           t___           t___           t___           &kp DEL        &kp COMMA      &kp N1         &kp N2         &kp N3         t___
                                                 t___           t___           t___           t___
  >;
};

nav_layer {
  label = "Nav";
  bindings = <
    &kp F1         &kp F2         &kp F3         &kp F4         &kp F5         &kp F6         &kp F7         &kp F8         &kp F9         &kp F10
    t___           t___           t___           t___           t___           &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &kp F11
    t___           t___           t___           t___           t___           &kp HOME       &kp PG_DN      &kp PG_UP      &kp END        &kp F12
                                                 t___           t___           t___           t___
  >;
};

kbd_layer {
  label = "Kbd";
  bindings = <
    t___           &reset         &out OUT_TOG   &bt BT_CLR     &bootloader    &bootloader    t___           t___           &reset         t___
    t___           &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   t___           t___           t___           t___           t___
    t___           t___           t___           t___           t___           t___           t___           t___           t___           t___
                                                 t___           t___           t___           t___
  >;
};

#undef t___
